{% include "master/index.html" %}

<div class="container mt-5">
    <h2>Product Detail</h2>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            {% if current_product.image != 'no_image' %}
            <img style="width: 100%;" src="/static/image/product/{{ current_product.image }}"
                onerror="this.src='/static/image/image_error.png';">
            
            {% endif %}
            
            {% if current_product.image == 'no_image' %}
            <img style="width: 15%;" src="/static/image/no-image.png">
            
            {% endif %}
        </div>
        <div class="col-md-7 col-sm-12">
            <h3>{{ current_product.title }}</h3>
            <strong>{{ current_product.description }}</strong>
            <h4>
                <span class="btn btn-danger mt-3">
                    {{ current_product.price }} $
                </span>
            </h4>
            <hr>
            <!-- <form class="add-to-cart-form" action="{{ url_for('add_item') }}" method="post">
                <input type="hidden" name="item_id" value="{{current_product.id}}">
                <button class="btn btn-primary" type="submit">Add to Cart</button>
            </form> -->
            <a target="_self" href="/checkout?id={{ current_product.id }}" style="float: right;" class="btn btn-primary ">
                Check Out
            </a>
        </div>
    </div>

</div>
<script>

</script>